CSS:
/* a minimalist set of CSS resets */
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
@import url('https://cdn.glitch.global/9785fe61-e7d1-40a1-b375-1f37f562f4e9/puzzle-piece.png?v=1729619609722'), pointer;

   * default to border-box */
html {
  
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;
cursor: url('https://cdn.glitch.global/33771cbc-e3d4-445c-9cac-f915eb7bb34a/puzzle-cursor.png?v=1729839148334'), pointer;
}  

h2 {
  float: left;
}

area {
  float: right;
}


.bottom-area {
  position: relative;
  top: 100%; /* Position below the textcontainer */
  left: 0;
  padding-top: 2rem; /* Add padding to create space */
  z-index: 0;
}

#two {
  position: absolute; 
  top: 6vw; 
  left: 70vw;

}

#two:hover {
  opacity: 1!important;
  cursor:pointer;
}

#two.animate-in {
  /* Styles for the animation */
  opacity: 1!important;
  /* Other animation properties as needed */
}
#one {
  position: absolute !important; 
  top: 6vw; 
  left: 70vw; 
}

#one:hover {
  opacity: 0!important;
  cursor: none;
}



#overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 25%;
  height: 25%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black */
  display: flex;
  justify-content: center;
  display: none; /* Initially hidden */
  opacity: 0; /* Initially transparent */
  transition: opacity 0.3s ease-in-out; /* Smooth transition */
}

@media screen and (orientation: portrait) (max-width: 768px) {
  /* For all mobile devices */
  #piece {
    display: block!important; /* Show on mobile devices */
  }
}

@media screen and (orientation:landscape) and (-webkit-device-pixel-ratio: 4)  {
  #piece{
    display: block!important;
  }}
  
  @media (min-width: 375px) and (max-width: 935px) {
       .bottom-area h4 {
          margin-top: 2em !important; }
      }

 @media (min-device-width: 640px) and (max-device-width: 935px) {
       .bottom-area h4 {
          margin-top: 2em !important; }
    
      }

 @media (min-device-width: 820px) and (max-device-width: 935px) {
       .bottom-area h4 {
          margin-top: 1em !important; }
    
      }


 @media screen and (min-device-width: 936px) and (max-device-width: 1000px) {
       .bottom-area h4 {
          margin-top: 5em !important; }
    
      }

  @media (min-device-width: 375px) and (max-device-width: 935px) {
       .bottom-area h3, h4 {
          margin-top: 0.5em !important;
    line-height: 1!important;}
      }

 @media (min-device-width: 375px) and (max-device-width: 935px) {
       .textcontainer h2 {
          font-size: 18vmin !important; 
   }  }


  h4 {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        margin-top: 6em;
        z-index: 5;
        font-size: 1.8rem;
        line-height: 1.5;
        padding-top: 50px;
      } 

@media (max-width: 767px) { 
  .bottom-area h3,
  {
    line-height: 1.5; /* Adjust the value for desired spacing */
     margin-top: 1em;
  }
  h2 {
    font-size: 80%;
  }
}


.textcontainer img.one{
  position:absolute; top:6vw; left:70vw; transition:opacity 0.5s ease-in-out; cursor:pointer;
}

.textcontainer img.out{
  opacity:0 !important;

}

.animate-out {
  animation: fadeOut 1s ease-in-out;
  transition: opacity 1s ease-in-out;
}

.animate-in {
  animation: fadeIn 1s ease-in-out;
   transition: opacity 1s ease-in-out;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 0;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  from {
    opacity: 1;
    transform: scale(1);
  }
  to {
    opacity: 0;
    transform: scale(0.8);
  }
}

