/* a minimalist set of CSS resets */
@import url('https://cdn.glitch.global/9785fe61-e7d1-40a1-b375-1f37f562f4e9/puzzle-piece.png?v=1729619609722'), auto/
@import url('https://fonts.googleapis.com/css2?family=Mukta+Malar:wght@200;300;400;500;600;700;800&display=swap');  
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Red+Hat+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

   * default to border-box */
html {
  
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
 
  margin: 1rem;
  font-family: sans-serif;
  line-height: 1.5;

cursor: url('https://cdn.glitch.global/9785fe61-e7d1-40a1-b375-1f37f562f4e9/puzzle-piece.png?v=1729619609722'), auto;
}  




#customPointer{
    position: absolute;
    left: 0px;
    top: 0px;
    display: hidden;
}
  
#container {
  position: relative;
}

#container #dropbox {
    width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}
 
@media only screen and (min-device-width: 300px) and (max-device-width: 768px) {
  .container {
    display: none;
  }
}

 @media only screen and (min-width: 768px) 
  #gif {
  position: absolute;
  display:none;
}

 @media only screen and (max-width: 768px) 
  #gif {
  position: absolute;
height: auto;
  max-width:100%
}


